<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/black-tie/theme.css" rel="stylesheet" />
    <link href="~/Content/black-tie/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.number.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/tableExport.js"></script>
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/jqwidgets/jqxcore.js"></script>
    <script src="~/jqwidgets/jqxdata.js"></script>
    <script src="~/jqwidgets/jqxbuttons.js"></script>
    <script src="~/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/jqwidgets/jqxmenu.js"></script>
    <script src="~/jqwidgets/jqxlistbox.js"></script>
    <script src="~/jqwidgets/jqxdropdownlist.js"></script>
    <script src="~/jqwidgets/jqxgrid.js"></script>
    <script src="~/jqwidgets/jqxgrid.selection.js"></script>
    <script src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script src="~/jqwidgets/jqxgrid.filter.js"></script>
    <script src="~/jqwidgets/jqxgrid.sort.js"></script>
    <script src="~/jqwidgets/jqxgrid.pager.js"></script>
    <script src="~/jqwidgets/jqxgrid.grouping.js"></script>
    <script src="~/jqwidgets/jqxgrid.edit.js"></script>
    <script src="~/jqwidgets/jqxwindow.js"></script>
    <script src="~/jqwidgets/jqxdata.export.js"></script>
    <script src="~/jqwidgets/jqxgrid.export.js"></script>
    <script src="~/jqwidgets/jqxinput.js"></script>
    <script src="~/jqwidgets/jqxtoolbar.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/INC/demos.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color :indigo">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("B. & R.", "AfterLogin", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Population", "List", "Pop")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Stock", "List", "Stock")</li>
                            <li>@Html.ActionLink("Price List", "List_Pr1", "Stock")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand">Logged In as @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</li>
                    <li class="navbar-brand">
                        @{
                            if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "LogoutForm" }))
                                {
                                    <a href="javascript:document.getElementById('LogoutForm').submit()">Sign-Out</a>
                                }
                            }
                            else
                            {
                                <a>@Html.ActionLink("Signin", "login", "MyAccount")</a>
                            }
                        }
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div>
        <div style="width: 98%; margin-right: 1%; margin-left: 1%" class="table table-responsive">
            <br/>
            <br/>
            <hr/>
            @RenderBody()
            <hr/>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
