@model MVCINCV4._1.Models.SALE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style type="text/css">
    .input-xs {
        height: 22px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .focus {
        border: 2px solid red;
        background-color: #FEFED5;
    }

    .custom-date-style {
        background-color: red !important;
    }
</style>
@section scripts
{
    <script>
        $(function () {
            var source;
            var source1;
         $(document).ready(function () {
             $('INPUT[type="text"]').focus(function () {
                 $(this).addClass("focus");
             });

             $('INPUT[type="text"]').blur(function () {
                 $(this).removeClass("focus");
             });
             

             source1 =
            {
                datatype: "json",
                data: {"bno": $("txtBNO").val() },
                datafields: [
                { name: 'BILLID', type: 'string' },
                { name: 'PART_NO', type: 'string' },
                { name: 'PARTI', type: 'string' },
                { name: 'QTY', type: 'string' },
                { name: 'MRP', type: 'string' },
                { name: 'SPRICE', type: 'string' },
                { name: 'TAX', type: 'string' },
                { name: 'TOTAL', type: 'string' },
                ],
                url: '/BILL/List_BILL_ITM'
            };
             var editrow1 = -1;
             var dataAdapter1 = new $.jqx.dataAdapter(source1);
             // initialize jqxGrid
             $("#grid1").jqxGrid({
                 width: '99%',
                 height: 350,
                 source: dataAdapter1,
                 sortable: true,
                 filterable: true,
                 altrows: true,
                 theme: 'ui-redmond',
                 editable: true,
                 showtoolbar: true,
                 columns: [
                     { text: "RECORD NO", datafield: "BILLID", hidden: true },
                        { text: "PART NO", datafield: "PART_NO", minwidth: 80 },
                        { text: "PART NAME", datafield: "PARTI", minwidth: 110 },
                        { text: "QTY", datafield: "QTY" },
                        { text: "MRP", datafield: "MRP" },
                        { text: "SELL PRICE", datafield: "SPRICE", minwidth: 60 },
                        { text: "TAX RATE", datafield: "TAX" },
                        { text: "AMOUNT", datafield: "TOTAL", minwidth: 60 }
                 ],
                 rendertoolbar: function (toolbar) {
                     var me = this;
                     var container = $("<div style='margin: 5px;'></div>");
                     var btn1 = $("<input id='BTN2' type='button' value='Refresh'/>");
                     var btn2 = $("<input id='BTN3' type='button' value='Add New Item'/>");
                     container.append(btn1);
                     container.append(btn2);
                     toolbar.append(container);
                     btn1.jqxButton({ template: "success" });
                     btn2.jqxButton({ template: "warning" });
                     var oldVal = "";
                     btn1.on('click', function (e) {
                         source1.data = { "bno": $('#txtBNO').val() };
                         $('#grid1').jqxGrid('updatebounddata');
                     });
                     btn2.on('click', function () {
                         var offset = $("#grid1").offset();
                         $("#popupWindow").jqxWindow();
                         $("#popupWindow").jqxWindow('open');
                     });
                 }
             });
             $("#popupWindow").jqxWindow({
                 width: '100%', height: '50%', theme: 'ui-redmond', isModal: true, autoOpen: false, cancelButton: $("#Cancel"), modalOpacity: 0.01
             });

             $("#popupWindow").on('open', function () {
                 $("#txtPTNO").jqxInput('selectAll');
                 $("#txtBNO1").val($("#txtBNO").val());
             });

             $("#Cancel").jqxButton({ template: "warning" });
             $("#Save").jqxButton({ template: "success" });
             $("#btnNBILL").jqxButton({ template: "warning" });
             $("#Save").click(function () {   
                 var dataObject = {
                     BILL_NO: $("#txtBNO1").val(),
                     PART_NO: $("#txtPTNO").val(),  
                     PARTI: $("#txtPTNAME").val(),
                     MRP: $("#txtMRP").val(),
                     QTY: $("#txtQTY").val(),
                     SPRICE: $("#txtSPRICE").val(),
                     TOTAL: $("#txtTOT").val(),
                     TAX: $("#txtTRATE").val(),
                     TVAL: $("#txtTVAL").val(),
                     UNIT: $("#txtUNIT").val(),
                     BDATE: $("#txtBDATE").val(),
                     SSAT: "NEW",
                     CMP: "EICHER",
                     MODE: $("#txtMODE").val(),
                     BID: new Date($.now()),
                     LMODI: new Date($.now()),
                     DPCODE:"A1587"
                 };  
                 $.ajax({  
                        url: "@Url.Action("Save","BILL")",  
                        type: "POST",  
                        data: dataObject,  
                        dataType: "json",  
                        success: function (data) {  
                            if (data.toString() != "Successfully Saved!") {  
                            alert("FAILED");
                            }   
                        },  
                        error: function () {  
                            alert("ERROR");
                        }  
                   });
                 $("#grid1").jqxGrid("addrow", null, dataObject, "first");
                 $("#popupWindow").jqxWindow('hide');
             });
         });
         $('#txtBNO').keypress(function (e) {
             if (e.keyCode == 13) {
                 e.preventDefault();
                 $('#txtBAMT').val($('#txtNTOT').val());
                 $('#txtDPCODE').val("A1587");
                 $('#txtLMODI').val(new Date($.now()));
                 $('#txtBID1').val(new Date($.now()));
                 $('#txtAEDT').val("NEW");
                 $('#txtSSTA').val("NEW");
                 $('#txtBDATE').focus();
                 
             }
         });
         $("#txtPTNO").autocomplete({
             source: function (request, response) {
                 $.ajax({
                     url: '/Stock/GetPtno',
                     type: "POST",
                     dataType: "json",
                     data: { term: request.term },
                     success: function (data) {
                         response(data);
                     }
                 });
             }
         });
     });
    </script>
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <table class="table table-hover table-bordered table-responsive" style="font-size:x-small;">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.BNO)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.BNO, new { @class = "form-control input-xs", @id = "txtBNO" })
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.GTOT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.GTOT, new { @class = "form-control input-xs", @id = "txtGTOT" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.BDATE)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.BDATE, new { @class = "form-control input-xs", @id = "txtBDATE", @type = "Date", @value = "01-01-2016" })
                </td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.TVAL)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.TVAL, new { @class = "form-control input-xs", @id = "txtTVAL" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.CUST)
                </td>
                <td class="form-inline">
                    @Html.TextBoxFor(model => model.BILL1.CUST, new { @class = "form-control input-xs", @id = "txtCUST" })
                    @Html.DisplayNameFor(model => model.BILL1.SNAME)
                    @Html.TextBoxFor(model => model.BILL1.SNAME, new { @class = "form-control input-xs", @id = "txtSNAME" })
                </td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.ROUND)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.ROUND, new { @class = "form-control input-xs", @id = "txtROUND" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.ADDRESS)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.ADDRESS, new { @class = "form-control input-xs", @id = "txtADDRESS" })
                </td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.NTOT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.NTOT, new { @class = "form-control input-xs", @id = "txtNTOT" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.VNO)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.VNO, new { @class = "form-control input-xs", @id = "txtVNO" })
                </td>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.MODE)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.MODE, new { @class = "form-control input-xs", @id = "txtMODE" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BILL1.TOTAL)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BILL1.TOTAL, new { @class = "form-control input-xs", @id = "txtTOTAL" })
                </td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="6">
                    @Html.HiddenFor(model => model.BILL1.PAYMENT, new { @id = "txtPAYMENT" })
                    @Html.HiddenFor(model => model.BILL1.SECTOR, new { @id = "txtSECTOR" })
                    @Html.HiddenFor(model => model.BILL1.USER1, new { @id = "txtUSER1" })
                    @Html.HiddenFor(model => model.BILL1.CBILL, new { @id = "txtCBILL" })
                    @Html.HiddenFor(model => model.BILL1.BAPAY, new { @id = "txtBAPAY" })
                    @Html.HiddenFor(model => model.BILL1.BST, new { @id = "txtBST" })
                    @Html.HiddenFor(model => model.BILL1.SSTA, new { @id = "txtSSTA" })
                    @Html.HiddenFor(model => model.BILL1.DPCODE, new { @id = "txtDPCODE" })
                    @Html.HiddenFor(model => model.BILL1.LMODI, new { @id = "txtLMODI" })
                    @Html.HiddenFor(model => model.BILL1.BID1, new { @id = "txtBID1" })
                    @Html.HiddenFor(model => model.BILL1.AEDT, new { @id = "txtAEDT" })
                    @Html.HiddenFor(model => model.BILL1.BAMT, new { @id = "txtBAMT" })
                </td>
            </tr>
        </table>
        <div id="grid1"></div>
        <input type="submit" value="Create" id="btnNBILL" class="btn btn-primary btn-xs" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div id="popupWindow">
    <div>ADD NEW ITEM</div>
    <div style="overflow: hidden;">
        <table class="table table-hover table-bordered">
            <tr>
                <td><label for="txtBNO1">BILL NO:</label></td>
                <td align="left" colspan="3"><input id="txtBNO1" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td><label for="txtPTNO">PART NO:</label></td>
                <td align="left"><input id="txtPTNO" class="form-control input-xs" /></td>
                <td><label for="txtQTY">QUANTITY:</label></td>
                <td align="left"><input id="txtQTY" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td><label for="txtPTNAME">PART NAME:</label></td>
                <td align="left"><input id="txtPTNAME" class="form-control input-xs" /></td>
                <td><label for="txtTVAL">TAX VALUE:</label></td>
                <td align="left"><input id="txtTVAL" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td><label for="txtMRP">MRP:</label></td>
                <td align="left"><input id="txtMRP" class="form-control input-xs" /></td>
                <td><label for="txtTOT">ITEM TOTAL:</label></td>
                <td align="left"><input id="txtTOT" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td><label for="txtSPRICE">SELL PRICE:</label></td>
                <td align="left"><input id="txtSPRICE" class="form-control input-xs" /></td>
                <td><label for="txtSTC">IN STOCK:</label></td>
                <td align="left"><input id="txtSTC" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td><label for="txtTRATE">TAX RATE:</label></td>
                <td align="left"><input id="txtTRATE" class="form-control input-xs" /></td>
                <td><label for="txtUNIT">UNIT:</label></td>
                <td align="left"><input id="txtUNIT" class="form-control input-xs" /></td>
            </tr>
            <tr>
                <td style="padding-top: 10px;" align="right" colspan="4"><input style="margin-right: 5px;" type="button" id="Save" value="Save" /><input id="Cancel" type="button" value="Cancel" /></td>
            </tr>
        </table>
    </div>
</div>

