@model IEnumerable<MVCINCV4._1.Models.PMR>

@{
    ViewBag.Title = "List_PMR";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h6>RM TRACKER VIEW</h6>
<p>
    @Html.ActionLink("Create New", "Create") &nbsp; &nbsp; @Html.ActionLink("Export Data", "ExportData") &nbsp; &nbsp; @Html.ActionLink("Rm Tracker", "List_PMR")
</p>

    <table class="table table-bordered table-hover table-responsive" style="font-size : smaller">
        <tr>
            <td>
                <div class="form-inline">
                    <input type="text" id="dtFrm" placeholder="Search Records From Date" class="form-control" />
                    <input type="text" id="dtTo" placeholder="Search Records To Date" class="form-control" />
                    <input type="button" value="Filter" id="btnFil" class="btn btn-primary form-control" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="upd"></div>
            </td>
        </tr>
    </table>

@section scripts
{
    <script>
        $(function () {
            $("#btnFil").click(function () {
                var dtfm = $("#dtFrm").val() + " 00:00";
                var dtt = $("#dtTo").val() + " 23:59";
                $.ajax({
                    url: "@Url.Action("filrec", "Pop")",
                    data: { sdt: dtfm, edt: dtt },
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        loaddata(data)
                    },
                    error: function () {
                        alert("Failed! Please try again")
                    }
                });
            });

            function loaddata(data) {
                var tab = $('<table border="1"></table>')
                var thead = $('<thead></thead>');
                thead.append('<th nowrap bgcolor="#00ffe1">Customer</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Site Id</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Site Name</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Engine No</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Issue Open Date</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Issue Closed Date</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Issue Type</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">HMR</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Issue Nature</th>');
                thead.append('<th nowrap bgcolor="#00ffe1">Issue Status</th>');
                tab.append(thead);

                $.each(data, function (i, val) {
                    var trow = $('<tr></tr>');
                    trow.append('<td>' + val.CUST + '</td>');
                    trow.append('<td>' + val.SID + '</td>');
                    trow.append('<td>' + val.SNAME + '</td>');
                    trow.append('<td>' + val.ENGINE_No + '</td>');
                    var month = new Array();
                    month[0] = "Jan";
                    month[1] = "Feb";
                    month[2] = "Mar";
                    month[3] = "Apr";
                    month[4] = "May";
                    month[5] = "Jun";
                    month[6] = "Jul";
                    month[7] = "Aug";
                    month[8] = "Sep";
                    month[9] = "Oct";
                    month[10] = "Nov";
                    month[11] = "Dec";
                    var src1 = val.DOS;
                    if (src1 != null) {
                        src1 = src1.replace(/[^0-9 +]/g, '');
                        var src2 = new Date(parseInt(src1))
                        trow.append('<td>' + src2.getDate() + "-" + month[src2.getMonth()] + "-" + src2.getFullYear() + " " + src2.getHours() + ":" + src2.getMinutes() + '</td>');
                    }
                    var src = val.CDATI;
                    if (src != null) {
                        src = src.replace(/[^0-9 +]/g, '');
                        var src2 = new Date(parseInt(src))
                        trow.append('<td>' + src2.getDate() + "-" + month[src2.getMonth()] + "-" + src2.getFullYear() + " " + src2.getHours() + ":" + src2.getMinutes() + '</td>');
                    }
                    trow.append('<td>' + val.STYPE + '</td>');
                    trow.append('<td>' + val.HMR + '</td>');
                    trow.append('<td>' + val.CNAT + '</td>');
                    trow.append('<td>' + val.STA + '</td>');
                    tab.append(trow);
                });
                $("tr:odd", tab).css('background-color', '#C4C4C4');
                tab.addClass("table");
                tab.addClass("table-bordered");
                tab.addClass("table-hover");
                $('#upd').html(tab);
            };

            $(document).ready(function () {
                $('#dtFrm').datepicker({ dateFormat: 'dd-MM-yy' });
                $('#dtTo').datepicker({ dateFormat: 'dd-MM-yy' });
                $.ajax({
                    url: "@Url.Action("allrec", "Pop")",
                    data: "",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    loaddata(data)
                },
                error: function () {
                    alert("Failed! Please try again")
                }
            });
            });
        });
    </script>
    }
