@model IEnumerable<MVCINCV4._1.Models.MAINPOPU >

@{
    ViewBag.Title = "LIST OF SITES";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section scripts
{
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $(".dtl").click(function () {
            debugger;
            var $btdtl = $(this);
            var dtlid = $btdtl.attr('data-id');
            var dtlopt = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '/Pop/Details',
                contentType: "application/json; charset=utf-8",
                data: { "id": dtlid },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(dtlopt);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $(".dtl1").click(function () {
            debugger;
            var $btdtl = $(this);
            var dtlid = $btdtl.attr('data-id');
            var dtlopt = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '/Pop/View_PMR',
                contentType: "application/json; charset=utf-8",
                data: { "id": dtlid },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(dtlopt);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var td = $buttonClicked.text();
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: '/Pop/Delete',
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });


        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $(".anchorDetail1").click(function (e) {
            InitializeDialog($("#departmentdialog"));
            var uri = '/Pop/View_PMR';
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: uri,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent1').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            $("#departmentdialog").dialog("open");
        });
        //Method to Initialize the DialogBox
        function InitializeDialog($element) {
            $element.dialog({
                autoOpen: false,
                resizable: true,
                width: 1000,
                position: { my: "left top", at: "left+50 top+100", of: window },
                draggable: true,
                title: "LIST OF SERVICE",
                modal: true,
                show: 'slide',
                closeText: 'x',
                dialogClass: 'alert',
                closeOnEscape: true,
                close: function () {
                    $(this).dialog('close');
                }
            });
        }

        $(document).ready(function () {
            var source =
       {
           datatype: "json",
           datafields: [
                { name: 'RID', type: 'string' },
                { name: 'SID', type: 'string' },
                { name: 'CNAME', type: 'string' },
                { name: 'SNAME', type: 'string' },
                { name: 'ENS', type: 'string' },
                { name: 'RAT_PH', type: 'string' },
                { name: 'PHASE', type: 'string' },
                { name: 'CPN', type: 'string' },
                { name: 'PHNO', type: 'string' },
                { name: 'DOC', type: 'date' },
                { name: 'lhmr', type: 'string' },
           ],
           url: '/Pop/List_POP'
       };
            var editrow = -1;
            var dataAdapter = new $.jqx.dataAdapter(source);
            var height1 = $(window).height() - 170;
            // initialize jqxGrid
            $("#grid").jqxGrid(
                {
                    width: '99%',
                    height: height1,
                    source: dataAdapter,
                    sortable: true,
                    filterable: true,
                    altrows: true,
                    theme: 'ui-redmond',
                    editable: true,
                    showtoolbar: true,
                    columns: [
                        { text: "RECORD NO", datafield: "RID", hidden: true },
                        { text: "SITE ID", datafield: "SID", minwidth: 80 },
                        { text: "SITE NAME", datafield: "SNAME", minwidth: 110 },
                        { text: "CUSTOMER", datafield: "CNAME" },
                        { text: "ENGINE NO", datafield: "ENS" },
                        { text: "RATING", datafield: "RAT_PH" },
                        { text: "PHASE", datafield: "PHASE" },
                        { text: "CONTACT PERSON", datafield: "CPN", minwidth: 60 },
                        { text: "PHONE NO", datafield: "PHNO" },
                        { text: "DT. OF COMMISSIONING", datafield: "DOC", cellsformat: 'dd-MM-yyyy', width: '10%' },
                        { text: "HMR", datafield: "lhmr" },
                        {
                            text: 'Details', datafield: 'Details', columntype: 'button', width: 80, sortable: false, filterable: false, cellsrenderer: function () {
                                return "Details";
                            },
                            buttonclick: function (row) {
                                editrow = row;
                                var offset = $("#grid").offset();
                                var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                                var ens = dataRecord.RID;
                                var options = { "backdrop": "static", keyboard: true };
                                $.ajax({
                                    type: "GET",
                                    url: '/Pop/Details',
                                    contentType: "application/json; charset=utf-8",
                                    data: { "id": ens },
                                    datatype: "json",
                                    success: function (data) {
                                        debugger;
                                        $('#myModalContent').html(data);
                                        $('#myModal').modal(options);
                                        $('#myModal').modal('show');
                                    },
                                    error: function () {
                                        alert("Dynamic content load failed.");
                                    }
                                });
                            }
                        },
                        {
                            text: 'Add Issue', datafield: 'Add', columntype: 'button', width: 80, sortable: false, filterable: false, cellsrenderer: function () {
                                return "Add Issue";
                            },
                            buttonclick: function (row) {
                                editrow = row;
                                var offset = $("#grid").offset();
                                var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                                var ens = dataRecord.RID;
                                window.location = "/Pop/Add_Pmr?id=" + ens;
                            }
                        },
                        {
                            text: 'History', datafield: 'History', columntype: 'button', width: 80, sortable: false, filterable: false, cellsrenderer: function () {
                                return "History";
                            },
                            buttonclick: function (row) {
                                editrow = row;
                                var offset = $("#grid").offset();
                                var dataRecord = $("#grid").jqxGrid('getrowdata', editrow);
                                var ens = dataRecord.ENS;
                                var options = { "backdrop": "static", keyboard: true };
                                $.ajax({
                                    type: "GET",
                                    url: '/Pop/View_PMR',
                                    contentType: "application/json; charset=utf-8",
                                    data: { "id": ens },
                                    datatype: "json",
                                    success: function (data) {
                                        debugger;
                                        $('#myModalContent').html(data);
                                        $('#myModal').modal(options);
                                        $('#myModal').modal('show');
                                    },
                                    error: function () {
                                        alert("Dynamic content load failed.");
                                    }
                                });
                            }
                        }
                    ],
                    rendertoolbar: function (toolbar) {
                        var me = this;
                        var container = $("<div style='margin: 5px;'></div>");
                        var input = $("<input id='searchField' type='text'/>");
                        var btn1 = $("<a href='/Pop/Create'>Add New Site</a>");
                        var btn2 = $("<a href='/Pop/ExportData'>Export Data</a>");
                        var btn3 = $("<a href='/Pop/List_rm1'>Manage Issues</a>");
                        container.append(input);
                        container.append(btn1);
                        container.append(btn2);
                        container.append(btn3);
                        var tbl = $("<table></table>");
                        var tr = $("<tr></tr>");
                        var td2 = $("<td></td>");
                        td2.append($('#dp1'));
                        tr.append(td2);
                        var td1 = $("<td></td>");
                        td1.append(container);
                        tr.append(td1);
                        tbl.append(tr);
                        toolbar.append(tbl);
                        btn1.jqxButton({ template: "success" });
                        btn2.jqxButton({ template: "warning" });
                        btn3.jqxButton({ template: "primary" });
                        $("#searchField").jqxInput({ placeHolder: "SEARCH SITE", height: 23, width: 200, minLength: 1, theme: 'energyblue' });
                        var oldVal = "";
                        input.on('keydown', function (event) {
                            if (input.val().length >= 2) {
                                if (me.timer) {
                                    clearTimeout(me.timer);
                                }
                                if (oldVal != input.val()) {
                                    me.timer = setTimeout(function () {
                                        addFiter(input.val());
                                    }, 1000);
                                    oldVal = input.val();
                                }
                            }
                            else {
                                $("#grid").jqxGrid('clearfilters');
                            }
                        });
                    }
                });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

        function addFiter(value) {
            $("#grid").jqxGrid('clearfilters');
            var filtertype = 'stringfilter';
            var filtergroup = new $.jqx.filter();
            var filter = filtergroup.createfilter('stringfilter', value, 'CONTAINS');
            filtergroup.addfilter(2, filter);
            var searchColumnIndex = $("#dp1").jqxDropDownList('selectedIndex');
            switch (searchColumnIndex) {
                case 0:
                    $("#grid").jqxGrid('addfilter', 'SNAME', filtergroup);
                    break;
                case 1:
                    $("#grid").jqxGrid('addfilter', 'SID', filtergroup);
                    break;
                case 2:
                    $("#grid").jqxGrid('addfilter', 'ENS', filtergroup);
                    break;
            }
            // apply the filters.
            $("#grid").jqxGrid('applyfilters');
        }

        $("#dp1").jqxDropDownList({
            autoDropDownHeight: true, selectedIndex: 0, width: 200,
            source: [
                'SITE NAME', 'SITE ID', 'ENGINE NO'
            ]
        });


    });
    </script>
        }

<h6>LIST OF SITES</h6>
    <div id="grid"></div>
@*<table class="table table-bordered table-hover table-responsive" style="font-size:x-small">
    <tr>
                                                <th>
            @Html.DisplayNameFor(model => model.RID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RID1)
        </th>
                <th>
                @Html.DisplayNameFor(model => model.ALSN)
            </th>
                    <th>
            @Html.DisplayNameFor(model => model.MODEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSN)
        </th>
                            <th>
            @Html.DisplayNameFor(model => model.ADDR)
        </th>
                                     <th>
            @Html.DisplayNameFor(model => model.SPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMC)
        </th>
                                            <th>
            @Html.DisplayNameFor(model => model.CHMD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lhmr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lsd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nsd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ahm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DGNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMAKE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OEA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hmage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lmodi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AEDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.llop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solenoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cntype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnmake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sauto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FRAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSTA)
        </th>
                                               
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.SID)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.CNAME)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.SNAME)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.ENS)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.RAT_PH)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.PHASE)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.CPN)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.PHNO)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.DOC)
        </th>
        <th nowrap bgcolor="#00ffe1">
            HMR
        </th>
        <th nowrap bgcolor="#00ffe1">RECORD OPERATION</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
                                                                        <td>
            @Html.DisplayFor(modelItem => item.RID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RID1)
        </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ALSN)
                </td>
                             <td>
                @Html.DisplayFor(modelItem => item.MODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BSN)
            </td>
                                         <td>
                @Html.DisplayFor(modelItem => item.ADDR)
            </td>
                                                    <td>
                @Html.DisplayFor(modelItem => item.SPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMC)
            </td>
                                                                 <td>
                @Html.DisplayFor(modelItem => item.CHMD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lhmr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ahm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DGNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMAKE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WARR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OEA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hmage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPCODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lmodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.llop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.solenoid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.starter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cntype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnmake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sauto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSTA)
            </td>
                                                                        
            <td nowrap>
                @Html.DisplayFor(modelItem => item.SID)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.CNAME)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.SNAME)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.ENS)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.RAT_PH)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.PHASE)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.CPN)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.PHNO)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.DOC)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.CHMR)
            </td>
            <td nowrap>
                <a href="javascript:void(0);" class="dtl" data-id="@item.RID">Details</a> |
                <a href="javascript:void(0);" class="anchorDetail" data-id="@item.RID">Delete</a> |
                @Html.ActionLink("Add Pmr", "Add_Pmr", new { id = item.RID }) |
                <a href="javascript:void(0);" class="dtl1" data-id="@item.ENS">History</a>
            </td>
        </tr>
    }

</table>*@

<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width:96%;background-color:lightcyan;overflow:auto">
        <div class="modal-content">
            <div id='myModalContent' style="width:98%;overflow:auto;margin-left:2%">
                <script>

                </script>
            </div>
        </div>
    </div>
</div>

<div id='departmentdialog' class='modal'>
    <div class="modal-dialog" style="width:80%;background-color:lightcyan">
        <div class="modal-content">
            <div  id='myModalContent1'></div>
        </div>
    </div>
</div>
<div id="dp1"></div>
   


