@model IEnumerable<MVCINCV4._1.Models.MAINPOPU >

@{
    ViewBag.Title = "LIST OF SITES";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section scripts
{
<script>
    var TeamDetailPostBackURL = '/Pop/Delete';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var td = $buttonClicked.text();
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
        //$("#closebtn").on('click',function(){
        //    $('#myModal').modal('hide');

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });

        $(".anchorDetail1").click(function (e) {
            InitializeDialog($("#departmentdialog"));
            var uri = '/Pop/View_PMR';
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var td = $buttonClicked.text();
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: uri,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent1').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            $("#departmentdialog").dialog("open");
            e.preventDefault();
        });
        //Method to Initialize the DialogBox
        function InitializeDialog($element) {
            $element.dialog({
                autoOpen: false,
                resizable: true,
                width: 1000,
                position: { my: "left top", at: "left+50 top+100", of: window },
                draggable: true,
                title: "LIST OF SERVICE",
                modal: true,
                show: 'slide',
                closeText: 'x',
                dialogClass: 'alert',
                closeOnEscape: true,
                close: function () {
                    $(this).dialog('close');
                }
            });
        }
    });

</script>
  
        }

<h2>List of Sites</h2>

<p>
    @Html.ActionLink("Create New", "Create") &nbsp; &nbsp; @Html.ActionLink("Export Data", "ExportData") &nbsp; &nbsp; @Html.ActionLink("Rm Tracker", "List_PMR")
</p>
<table class="table table-bordered table-hover table-responsive" style="font-size : smaller">
    <tr>
                                                @*<th>
            @Html.DisplayNameFor(model => model.RID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RID1)
        </th>
                <th>
                @Html.DisplayNameFor(model => model.ALSN)
            </th>
                    <th>
            @Html.DisplayNameFor(model => model.MODEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSN)
        </th>
                            <th>
            @Html.DisplayNameFor(model => model.ADDR)
        </th>
                                     <th>
            @Html.DisplayNameFor(model => model.SPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMC)
        </th>
                                            <th>
            @Html.DisplayNameFor(model => model.CHMD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lhmr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lsd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nsd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ahm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DGNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMAKE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OEA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hmage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lmodi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AEDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.llop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solenoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cntype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnmake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sauto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FRAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSTA)
        </th>
                                                *@
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.SID)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.CNAME)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.SNAME)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.ENS)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.RAT_PH)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.PHASE)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.CPN)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.PHNO)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.DOC)
        </th>
        <th nowrap bgcolor="#00ffe1">
            @Html.DisplayNameFor(model => model.CHMR)
        </th>
        <th nowrap bgcolor="#00ffe1">RECORD OPERATION</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
                                                                        @*<td>
            @Html.DisplayFor(modelItem => item.RID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RID1)
        </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ALSN)
                </td>
                             <td>
                @Html.DisplayFor(modelItem => item.MODEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BSN)
            </td>
                                         <td>
                @Html.DisplayFor(modelItem => item.ADDR)
            </td>
                                                    <td>
                @Html.DisplayFor(modelItem => item.SPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMC)
            </td>
                                                                 <td>
                @Html.DisplayFor(modelItem => item.CHMD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lhmr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ahm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DGNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMAKE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WARR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OEA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hmage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPCODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lmodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.llop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.solenoid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.starter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cntype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnmake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sauto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSTA)
            </td>
                                                                        *@
            <td nowrap>
                @Html.DisplayFor(modelItem => item.SID)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.CNAME)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.SNAME)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.ENS)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.RAT_PH)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.PHASE)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.CPN)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.PHNO)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.DOC)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.CHMR)
            </td>
            <td nowrap>
                @Html.ActionLink("Details", "Details", new { id = item.RID }) |
                <a href="javascript:void(0);" class="anchorDetail" data-id="@item.RID">Delete</a> |
                @Html.ActionLink("Add Pmr", "Add_Pmr", new { id = item.RID }) |
                <a href="javascript:void(0);" class="anchorDetail1" data-id="@item.ENS">History</a>
            </td>
        </tr>
    }

</table>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div id='departmentdialog' class='modal' style="height:70%;overflow:auto">
    <div class="modal-dialog" style="height:70%;overflow:auto;width:300%;background-color:lightcyan">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>
   


