@model MVCINCV4._1.Models.PMR
<style type="text/css">
    .input-xs {
        height: 22px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .focus {
        border: 2px solid red;
        background-color: #FEFED5;
    }

    .custom-date-style {
        background-color: red !important;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">DETAILS OF ISSUE</h4>
</div> 
<fieldset>
    <h4>ISSUE DETAILS FOR SITE NAME: &nbsp; &nbsp; @Html.DisplayFor(model => model.SNAME) | &nbsp; SITE ID: &nbsp; &nbsp; @Html.DisplayFor(model => model.SID) &nbsp; &nbsp; @Html.ActionLink("Update", "edt_Pmr", new { id = Model.RECID1, ens = Model.ENGINE_No })</h4>
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    @*<dt>
        @Html.LabelFor(model => model.SID)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.SID)
    </dd>

    <dt>
        @Html.LabelFor(model => model.SNAME)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.SNAME)
    </dd>
    <dt>
        @Html.LabelFor(model => model.recid)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.recid)
    </dd>
    <dt>
        @Html.LabelFor(model => model.SSTA)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.SSTA)
    </dd>

    <dt>
        @Html.LabelFor(model => model.DPCODE)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.DPCODE)
    </dd>

    <dt>
        @Html.LabelFor(model => model.lmodi)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.lmodi)
    </dd>

    <dt>
        @Html.LabelFor(model => model.AEDT)
    </dt>
    <dd>
        @Html.TextBoxFor(model => model.AEDT)
    </dd>*@

                    <dt>
                        @Html.LabelFor(model => model.CUST)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.CUST, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.ENGINE_No)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.ENGINE_No, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.DGNO)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.DGNO, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.KVA)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.KVA, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.MODEL)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.MODEL, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.DOI)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.DOI, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.AMAKE)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.AMAKE, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.ALSN)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.ALSN, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.BSN)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.BSN, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.AMC)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.AMC, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.WARR)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.WARR, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.OEA)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.OEA, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.DIST)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.DIST, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.STATE)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.STATE, new { @class = "form-control input-xs" })
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.LabelFor(model => model.STYPE)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.STYPE, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.DOS)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.DOS, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.CDATI)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.CDATI, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.CCATE)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.CCATE, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.HMR)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.HMR, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.CNAT)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.CNAT, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.SERV)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.SERV, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.RFAIL)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.RFAIL, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.STA)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.STA, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.ACTION)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.ACTION, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.TTR)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.TTR, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.SLA)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.SLA, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.TSLOT)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.TSLOT, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.RESLA)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.RESLA, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.Report)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Report, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.Technician)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.Technician, new { @class = "form-control input-xs" })
                    </dd>

                    <dt>
                        @Html.LabelFor(model => model.METERIAL)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.METERIAL, new { @class = "form-control input-xs" })
                    </dd>
                    <dt>
                        @Html.LabelFor(model => model.REM)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.REM, new { @class = "form-control input-xs" })
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
</fieldset>

