@model MVCINCV4._1.Models.PMR
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">DETAILS OF ISSUE</h4>
</div> 
<h4>ISSUE DETAILS FOR SITE NAME: &nbsp; &nbsp; @Html.DisplayFor(model=> model.SNAME) | &nbsp; SITE ID: &nbsp; &nbsp; @Html.DisplayFor(model => model.SID)</h4>

<fieldset>
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SNAME)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SNAME)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ENGINE_No)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ENGINE_No)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DOS)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DOS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.STYPE)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.STYPE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HMR)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.HMR)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Report)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Report)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Technician)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Technician)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.METERIAL)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.METERIAL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CUST)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CUST)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.recid)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.recid)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CDATI)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CDATI)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DIST)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DIST)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.STATE)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.STATE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CCATE)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CCATE)
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MODEL)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MODEL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DOI)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DOI)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DGNO)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DGNO)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AMAKE)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AMAKE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ALSN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ALSN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BSN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BSN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CNAT)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CNAT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SERV)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SERV)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RFAIL)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RFAIL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.STA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.STA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.WARR)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WARR)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ACTION)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ACTION)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OEA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OEA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AMC)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AMC)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TTR)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TTR)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SLA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SLA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TSLOT)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TSLOT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RESLA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RESLA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.KVA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.KVA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SSTA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SSTA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DPCODE)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DPCODE)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lmodi)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.lmodi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AEDT)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AEDT)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.REM)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.REM)
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.SID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENGINE_No)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENGINE_No)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HMR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HMR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Report)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Report)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Technician)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Technician)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.METERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.METERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CUST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CUST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.recid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.recid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CDATI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CDATI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIST)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIST)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CCATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CCATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODEL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODEL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DGNO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DGNO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMAKE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMAKE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ALSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ALSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BSN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CNAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CNAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RFAIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RFAIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WARR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WARR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OEA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OEA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AMC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AMC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TTR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TTR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SLA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SLA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TSLOT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TSLOT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RESLA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RESLA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KVA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KVA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SSTA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SSTA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DPCODE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DPCODE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lmodi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lmodi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AEDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AEDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REM)
    </div>*@
</fieldset>
<p>
  
</p>
